body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: auto;
    position: fixed;
    top: 20%;
    left: 30%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 20px;
  }
 
  .game-info {
    margin-left: 20px;
  }
  .status{
    margin-bottom: 30px;
  }
  .button{
   
    font-size: 16px;
  }
  .title{
    font-size: 40px;
    margin-bottom: 30px;
  }
  .square--winning {
    background-color: yellow;
  }
  .list{
    height: 700px;
    overflow-y: auto;
  }
  .messages{
    height: 500px;
    width: 400px;
    overflow-y: auto;
  }
  .login-form {
   
    height: 200px;
    width: 500px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 20px;
  }
  .register-form {
   
    height: 200px;
    width: 500px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 20px;
  }
  /* .button-login{
   
    left: 45%;
  }
  .button-register{
   
    left: 52%;
  } */
  .title-register{
    left: 37%;
  }
  .title-login{
    left: 37%;
  }
  .profile{
    height: 200px;
    width: 700px;
    position: fixed;
    top: 40%;
    left: 30%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 20px;
  }

  